body {
  margin: auto;
  max-width: 1550px;
}

li {
  list-style-type: none;
}

.top-bar {
  width: 100%;
  max-width: 1550px;
  height: 85px;
  background: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  top: 0;
}

.middle {
  margin: 85px 0 40px;
}

#logo {
  width: 50px;
  height: 80px;
  padding: 20px 0 20px 20px;
}

.topnav {
  overflow: hidden;
  background-color: #FFFFFF;
  position: relative;
  font-family: 'Manrope', sans-serif;
}

.topnav #navLinks {
  display: none;
  margin-right: 5px;
}

.topnav a {
  float: left;
  color: #04ADBF;
  padding: 14px 5px;
  text-decoration: none;
  font-size: 18px;
  line-height: 26pt;
}

.topnav a.icon {
  float: right;
  font-size: 26pt;
  margin-right: 8px;
}

.topnav a.icon:visted {
  color: white;
}

.topnav a:hover {
  background-color: #FFFFFF;
  color: #F2B705;
}

.active {
  background-color: #4CAF50;
  color: #F2B705;
}

nav {
  display: none;
}

a {
  text-decoration: none;
  color: white;
}

#lisa {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 37px;
  color: #0f2d56;
  padding: 20px 50px 30px;
  font-variant: small-caps;
  text-align: center;
  margin-bottom: 30px;
}

#designer {
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
  color: #0f2d56;
  padding-left: 50px;
  padding-bottom: 30px;
}

.subtitle-container {
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  display: block;
  width: max-content;
}

.border-line {
  height: 13px;
  border-radius: 5px;
  background-color: #04ADBF;
  vertical-align: baseline;
}

#tagline {
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  line-height: 155%;
  color: #0f2d56;
  padding: 0 50px;
}

#skyline-mobile {
  width: 100%;
  max-width: 330px;
  display: block;
  margin: auto;
}

#skyline {
  display: none;
}

.projects {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.project-images {
  max-width: 470px;
  width: 90%;
}

.project-images img {
  display: none;
}

.project-images-two {
  max-width: 470px;
  width: 90%;
  max-height: 220px;
}

#petal-project-img {
  display: none;
}

.content {
  max-width: 80%;
  margin: auto;
}

.content a {
  width: 25%;
}

.content .subtitle-container {
  margin: 50px 0px 20px 0px;
}

#vivrelivre {
  display: none;
}

.project-images img {
  width: 100%;
}

.projects p {
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  line-height: 130%;
  text-align: center;
  color: #04ADBF;
  margin: 15px;
}

.overlay {
  opacity: 1;
  background-color: white;
  height: 100%;
  vertical-align: center;
  opacity: 1;
  padding: 35px 35px 25px 25px;
}

.overlay li {
  background-color: #F2B705;
  border-radius: 10px;
  width: 190px;
  margin: auto;
  font-size: 18px;
  font-family: 'Manrope', sans-serif;
  text-align: center;
}

.overlay a {
  display: inline-block;
  height: 20px;
  width: 100%;
  padding: 20px 0;
}

.overlay h4 {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  color: #04ADBF;
}

/* about css code  */
#biography {
  font-family: 'Manrope', sans-serif;
  font-size: 33px;
  text-align: left;
  color: #0f2d56;
  font-variant: small-caps;
  font-style: normal;
  font-weight: bold;
  padding-top: 130px;
  padding-bottom: 60px
}

.subtitle {
  font-family: 'Manrope', sans-serif;
  text-align: left;
  color: #0f2d56;
  font-variant: small-caps;
  font-style: normal;
  font-weight: bold;

}

.border-line {
  width: 100%;
  margin-top: 10px;
}

.first {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  line-height: 1.75em;
  text-align: left;
  color: #0f2d56;
}

.second {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  line-height: 1.75em;
  text-align: left;
  color: #0f2d56;
}

.third {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    line-height: 1.75em;
    text-align: left;
    color: #0f2d56;
}
.heading-container {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  width: 100%;
}



.flex-container {
  display: flex;
  flex-direction: column;
}


.main {
  /* margin: 0 35px; */ }


#self-portrait {
  object-fit: contain;
  position: relative;
  max-height: 650px;
  float: left;
  margin-bottom: 5px;
  width: 100%;
}

.story {
  padding: 50px;
  padding-top: 0;
}

.hero-introduction {
  margin: 0 70px;
}


/* contact page css code  */
#name {
  font-family: 'Manrope', sans-serif;
  font-size: 35px;
  text-align: center;
  padding: 120px 0 30px 0;
  color: #0f2d56;
}

#available {
  font-family: 'Manrope', sans-serif;
  font-size: 0.75em;
  text-align: center;
  padding-bottom: 60px;
  color: #0f2d56;
  margin-top: 60px;
}

.form-container {
  background-color: #04ADBF;
  height: 325px;
  width: 90%;
  text-align: center;
  margin: auto;
}

input::placeholder, textarea::placeholder {
  font-family: 'Manrope', sans-serif;
  font-size: 10pt;
  text-align: center;
  color: #0f2d56;
}

.form-container input {
  width: 100%;
  height: 30px;
  margin: 10px auto;
  border: 1px solid #cccccc;
  font-family: 'Manrope', sans-serif;
}

.form-container textarea {
  width: 100%;
  height: 115px;
  margin: 0 auto;
  border: 1px solid #cccccc;
}

.form-contents {
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

input, textarea {
  display: block;
  font-family: 'Manrope', sans-serif;
  border-radius: 4px;
}

input[type=submit] {
  background-color: #F2B705;
}

/* project code css  */
#preview {
  width: 100%;
  height: 100%;
  max-width:500px;
  max-height:350px;
  padding-top: 200px;
}

#vlpreview {
  width: 100%;
  height: 100%;
  max-width:370px;
  max-height:448px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 175px;
}

#preview-container {
  width: 95%;
}

#project-name {
  font-family: 'Manrope', sans-serif;
  font-size: 32px;
  font-weight: bold;
  margin: 20px 0;
  color: #0f2d56;
}

#web-button {
  background-color: #F2B705;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  border-radius: 6px;
  display: inline;
}

#mobile-button {
  background-color: #F2B705;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  border-radius: 6px;
  display: inline;
}

.summary-right-side {
  float: right;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

.project-summary {
  display: flex;
  flex-direction: column;
}

.roles {
  justify-content: center;
  display: flex;
  align-items: center;
  align-content: center;
  width: 100%;
}

#buttons-container {
  padding-top: 30px;
}

.box {
  background-color: #04ADBF;
  height: 60px;
  max-width: 110px;
  width: 18%;
  margin: 2px;
  margin-top: 20px;
  color: white;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 3px;
  justify-content: center;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container {
  display: flex;
  width: 100%;
  padding: 20px 0px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.problem-solution-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.problem-solution {
  background-color: #04ADBF;
  font-family: 'Manrope', sans-serif;
  font-size: 1em;
  color: white;
  padding: 35px;
  line-height: 1.25rem;
  margin-bottom: 20px;
}

.problem-solution li {
  list-style-type: disc;
  margin-left: 20px;
  font-style: italic;
}

#problem, #solution  {
  font-size: 30pt;
  font-family: 'Manrope', sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

#solution {
  margin-bottom: 50px;
}

.wrapper h4 {
  font-size: 24pt;
  font-family: 'Manrope', sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #0f2d56;
}

section li {
  margin-left: 20px;
}

section ul {
  margin-top: 5px;
}

#research-bullets li{
  font-size: 1.15em;
  font-family: 'Manrope', sans-serif;
  list-style-type: disc;
  line-height: 1.25rem;
  text-align: left;
  color: #0f2d56;
}

.content p {
  font-family: 'Manrope', sans-serif;
  font-size: 1.15em;
  text-align: center;
  color: #0f2d56;
}

.content img {
  margin: 15px 0px;
}

#competitor-logos {
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
}

.user-photos {
  display: flex;
  justify-content: space-around;
}

.user-photos img {
  margin-top: 20px;
  max-width: 50%;
  min-width: 30%;
  height: auto;
  margin-bottom: 20px;
}

#user-table {
  margin-top: 20px;
  text-align: center;
  margin: auto;
  margin-top: 40px;
}

#user-table tr, #user-table th, #user-table td {
  border: 1px solid black;
  font-family: 'Manrope', sans-serif;
  font-size: 1.15em;
  padding: 10px;
  vertical-align: middle;
  color: #0f2d56;
}

#user-table th {
  background: #04ADBF;
  color: white;
}

#user-table td:first-child {
  width: 25%
}

#table-role {
  font-weight: bold;
}

#table-task {
  font-weight: bold;
}

#table-importance {
  font-weight: bold;
}

#user-flow-image {
  margin-top: 40px;
  width: 100%;
}

.full-width-banner {
  background-color: #04ADBF;
  height: 100%;
  font-family: 'Manrope', sans-serif;
  color: white;
  padding: 25px;
  width: 100%;
  margin: 25px 0;
  text-align: left;
  box-sizing: border-box;
}

.wireframes {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.wireframes img {
  max-height: 350px;
  margin-bottom: 20px;
  max-width: 50%;
}

.wf {
  width: 85%;
  display: block;
  margin: 40px auto !important;
  border: 1px solid black;
}

#implementing-early {
  font-family: 'Manrope', sans-serif;
  font-size: 37px;
}

.button {
  background-color: #F2B705;
  color: white;
  padding: 15px 32px;
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  border-radius: 6px;
  display: block;
  text-align: center;
  margin: 40px auto;
}

.mobile-wire {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.mobile-wire-single {
  width: 80%;
  max-width: 350px;
  height: auto;
}

h4 {
  font-family: 'Manrope', sans-serif;
  font-size: 33px;
  text-align: center;
}

.logosketch {
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.guides {
  width: 40%;
}

.execution-testing-box {
  background-color: #04ADBF;
  height: 100%;
  font-family: 'Manrope', sans-serif;
  color: white;
}

#execution-paragraph {
  margin-top: 15px;
}

.execution-button {
  background-color: #F2B705;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  border-radius: 6px;
}

.execution-button-two {
  background-color: #F2B705;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  border-radius: 6px;
}

#upgrade1 {
  width: 30%;
}

#conclusion {
  font-family: 'Manrope', sans-serif;
  font-size: 37px;
  text-align: center;
  margin-bottom: 10px;
  color: #0f2d56;
}

#conclusion-bullets li {
  font-size: 1.15em;
  font-family: 'Manrope', sans-serif;
  list-style-type: disc;
  color: #0f2d56;
}

#conclusion-bullets li {
  line-height: 1.25rem;
  margin-bottom: 10px;
  color: #0f2d56;
}

.conclusion-box li {
  text-align: left;
}

body section {
  /* width: 90%; */ text-align: center;
  margin: auto;
}

body p {
  line-height: 1.5rem;
}

#footer {
  width: 100%;
  height: 150px;
  background-color: #FFFFFF;
  width: 100%;
  text-align: center;
  padding-top: 120px;
}

#footer-contents {
  text-align: center;
  width: 100%;
  margin-right: 20px;
}

#cc {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-size: 20px;
  color: #04ADBF;
  margin-right: 5px;
  font-weight: bold;
  padding-top: 30px;
  text-align:center;
  font-variant: small-caps;
}

.made-by {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer img {
  margin: 10px;
}

/* MEDIA QUERIES */
/* SMALLER IPHONES */ @media only screen and (max-width: 375px) {
  .topnav a {
    font-size: 15px; }

  #logo {
    width: 50px; height: 80px; padding: 20px 0 20px 20px; }

  #self-portrait {
    width: 100%;
  }

}
