body {
  margin: auto;
}

li {
  list-style-type: none;
}

.top-bar {
  width: 100%;
  height: 85px;
  background: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
}

.middle {
  height: 220px;
}p

#logo {
  width: 50px;
  height: 80px;
  padding: 20px 0 20px 20px;
}

.topnav {
  overflow: hidden;
  background-color: #FFFFFF;
  position: relative;
  font-family: 'Manrope', sans-serif;
}

.topnav #navLinks {
  display: none;
  margin-right: 5px;
}

.topnav a {
  float: left;
  color: #04ADBF;
  padding: 14px 5px;
  text-decoration: none;
  font-size: 18px;
  line-height: 26pt;
}

.topnav a.icon {
  float: right;
  font-size: 26pt;
  margin-right: 8px;
}

.topnav a.icon:visted {
  color: white;
}

.topnav a:hover {
  background-color: #FFFFFF;
  color: #F2B705;
}

.active {
  background-color: #4CAF50;
  color: #F2B705;
}

nav {
  display: none;
}

a {
  text-decoration: none;
  color: white;
}

#lisa {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  color: #0f2d56;
  padding: 120px 26px 30px 50px;
  font-variant: small-caps;
  text-align:left;
  margin-bottom: 30px;
}

#designer {
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
  color: #0f2d56;
  padding-left: 50px;
  padding-bottom: 30px;
}


.recent-work .subtitle-container {
  text-align: center;
  margin: auto;
  margin-bottom: 40px;
  display: block;
}

.border-line {
  height: 13px;
  border-radius: 5px;
  background-color: #04ADBF;
  vertical-align: baseline;
}

#tagline {
  text-align: left;
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  line-height: 155%;
  color: #0f2d56;
  padding-left: 50px;
  padding-right: 31px;
}

#skyline {
  max-width: 330px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.projects {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.project-images {
  max-width: 470px;
  width: 90%;
  max-height: 220px;
  /* box-shadow: 0px 0px 30px 10px rgb(102,102,102,0.78); */
}

.project-images-two {
  max-width: 470px;
  width: 90%;
  max-height: 220px;
  /* box-shadow: 0px 0px 30px 10px rgb(102,102,102,0.78); */
}

#petal-project-img {
  display: none;
}

.content {
  max-width: 80%;
  margin: auto;
}

.content a {
  width: 25%;
}

.content .subtitle-container {
  margin: 50px 0px 20px 0px;
}

#vivrelivre {
  display: none;
}

.project-images img {
  width: 100%;
}

#cloudservice {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  color: #04ADBF;
}

.projects p {
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  line-height: 130%;
  text-align: center;
  color: #04ADBF;
  margin: 10px;
}

.overlay {
  opacity: 1;
  background-color: white;
  height: 100%;
  vertical-align: center;
  opacity: 1;
  padding: 35px;
  margin-bottom: 20px;
}

.overlay li {
  background-color: #F2B705;
  border-radius: 10px;
  width: 190px;
  margin: auto;
  font-size: 18px;
  font-family: 'Manrope', sans-serif;
  text-align: center;
}

.overlay a {
  display: inline-block;
  height: 20px;
  width: 100%;
  padding: 20px 0;
}

#bookapp {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  color: #04ADBF;
}

/* about css code  */

#biography {
  font-family: 'Manrope', sans-serif;
  font-size: 33px;
  text-align: left;
  color: #0f2d56;
  font-variant: small-caps;
  font-style: normal;
  font-weight: bold;
  padding-top: 130px;
  padding-bottom: 60px
}

.subtitle {
  font-family: 'Manrope', sans-serif;
  text-align: left;
  color: #0f2d56;
  font-variant: small-caps;
  font-style: normal;
  font-weight: bold;

}

.subtitle-container {
  display: inline-block;
  width: max-content;
}

.border-line {
  width: 100%;
  margin-top: 10px;
}

.first {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  line-height: 1.75em;
  text-align: left;
  color: #0f2d56;
}

.second {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  line-height: 1.75em;
  text-align: left;
  color: #0f2d56;
}

.third {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    line-height: 1.75em;
    text-align: left;
    color: #0f2d56;
}
.heading-container {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  width: 100%;
}



.flex-container {
  display: flex;
  flex-direction: column;
}


.main {
  /* margin: 0 35px; */
}


#self-portrait {
  object-fit: contain;
  position: relative;
  max-height: 650px;
  float: left;
  margin-bottom: 5px;
  width: 100%;
}

.story {
  padding: 50px;
  padding-top: 0;
}

.hero-introduction {
  margin: 0 70px;
}


/* contact page css code  */

#name {
  font-family: 'Manrope', sans-serif;
  font-size: 35px;
  text-align: center;
  padding: 120px 0 30px 0;
  color: #0f2d56;
}

#available {
  font-family: 'Manrope', sans-serif;
  font-size: 17px;
  text-align: center;
  padding-bottom: 60px;
  color: #0f2d56;
}

.form-container {
  background-color: #04ADBF;
  height: 325px;
  width: auto;
  text-align: center;
  margin: auto;
}

input::placeholder, textarea::placeholder {
  font-family: 'Manrope', sans-serif;
  font-size: 10pt;
  text-align: center;
  color: #0f2d56;
}

.form-container input {
  width: 100%;
  height: 30px;
  margin: 10px auto;
  border: 1px solid #cccccc;
  font-family: 'Manrope', sans-serif;
}

.form-container textarea {
  width: 100%;
  height: 115px;
  margin: 0 auto;
  border: 1px solid #cccccc;
}

.form-contents {
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

input, textarea {
  display: block;
  font-family: 'Manrope', sans-serif;
  border-radius: 4px;
}

input[type=submit] {
  background-color: #F2B705;
}

/* project code css  */

#preview {
  width: 100%;
  height: 100%;
  max-width:500px;
  max-height:350px;
  padding-top: 200px;
}

#vlpreview {
  width: 100%;
  height: 100%;
  max-width:370px;
  max-height:448px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 175px;
}

#preview-container {
  width: 95%;
}

#project-name {
  font-family: 'Manrope', sans-serif;
  font-size: 32px;
  font-weight: bold;
  margin: 20px 0;
  color: #0f2d56;
}

#web-button {
  background-color: #F2B705;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  border-radius: 6px;
  display: inline;
}

#mobile-button {
  background-color: #F2B705;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  border-radius: 6px;
  display: inline;
}

.summary-right-side {
  float: right;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

.project-summary {
  display: flex;
  flex-direction: column;
}

.roles {
  justify-content: center;
  display: flex;
  align-items: center;
  align-content: center;
  width: 100%;
}

#buttons-container {
  padding-top: 30px;
}

.box {
  background-color: #04ADBF;
  height: 60px;
  max-width: 110px;
  width: 18%;
  margin: 2px;
  margin-top: 20px;
  color: white;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 3px;
  justify-content: center;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container {
  display: flex;
  width: 100%;
  padding: 20px 0px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.problem-solution-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.problem-solution {
  background-color: #04ADBF;
  font-family: 'Manrope', sans-serif;
  font-size: 12pt;
  color: white;
  padding: 35px;
  line-height: 1.25rem;
  margin-bottom: 20px;
}

.problem-solution li {
  list-style-type: disc;
  margin-left: 20px;
  font-style: italic;
}

#problem, #solution  {
  font-size: 30pt;
  font-family: 'Manrope', sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

#solution {
  margin-bottom: 50px;
}

.wrapper h4 {
  font-size: 24pt;
  font-family: 'Manrope', sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #0f2d56;
}

section li {
  margin-left: 20px;
}

section ul {
  margin-top: 5px;
}

#research-paragraph-two {
  font-size: 12pt;
  font-family: 'Manrope', sans-serif;
  text-align: left;
  color: #0f2d56;
}

#research-bullets li{
  font-size: 12pt;
  font-family: 'Manrope', sans-serif;
  list-style-type: disc;
  line-height: 1.25rem;
  text-align: left;
  color: #0f2d56;
}

.content p {
  font-family: 'Manrope', sans-serif;
  font-size: 12pt;
  text-align: center;
  color: #0f2d56;
}

.content img {
  margin: 15px 0px;
}

#competitor-logos {
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
}

#user-personas-paragraph {
  font-family: 'Manrope', sans-serif;
  font-size: 12pt;
  text-align: left;
  color: #0f2d56;
}

.user-photos {
  display: flex;
  justify-content: space-around;
}

.user-photos img {
  margin-top: 20px;
  max-width: 50%;
  min-width: 30%;
  height: auto;
  margin-bottom: 20px;
}

#user-stories-paragraph {
  font-family: 'Manrope', sans-serif;
  font-size: 12pt;
  text-align: left;
  color: #0f2d56;
}

#user-table {
  margin-top: 20px;
  text-align: center;
  margin: auto;
  margin-top: 40px;
}

#user-table tr, #user-table th, #user-table td {
  border: 1px solid black;
  font-family: 'Manrope', sans-serif;
  font-size: 12pt;
  padding: 10px;
  vertical-align: middle;
  color: #0f2d56;
}

#user-table th {
  background: #04ADBF;
  color: white;
}

#user-table td:first-child {
  width: 25%
}

#table-role {
  font-weight: bold;
}

#table-task {
  font-weight: bold;
}

#table-importance {
  font-weight: bold;
}

#user-flow-paragraph {
  font-family: 'Manrope', sans-serif;
  font-size: 12pt;
  text-align: left;
  color: #0f2d56;
}

#user-flow-image {
  margin-top: 40px;
  width: 100%;
}

.full-width-banner {
  background-color: #04ADBF;
  height: 100%;
  font-family: 'Manrope', sans-serif;
  color: white;
  padding: 25px;
  width: 100%;
  margin: 25px 0;
  text-align: left;
  box-sizing: border-box;
}

.wireframes {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.wireframes img {
  max-height: 350px;
  margin-bottom: 20px;
  max-width: 50%;
}

.wf {
  width: 85%;
  display: block;
  margin: 40px auto !important;
  border: 1px solid black;
}

#implementing-early {
  font-family: 'Manrope', sans-serif;
  font-size: 37px;
}

.implementing-early-paragraph {
  font-size: 12pt;
  font-family: 'Manrope', sans-serif;
  margin: 40px;
  text-align: left;
}

.implementing-early-paragraph-one {
  font-size: 12pt;
  font-family: 'Manrope', sans-serif;
  margin: 40px;
  text-align: left;
  color: #0f2d56;
}

.button {
  background-color: #F2B705;
  color: white;
  padding: 15px 32px;
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  border-radius: 6px;
  display: block;
  text-align: center;
  margin: 40px auto;
}

.mobile-wire {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.mobile-wire-single {
  width: 80%;
  max-width: 350px;
  height: auto;
}

h4 {
  font-family: 'Manrope', sans-serif;
  font-size: 37px;
  text-align: center;
}

.logosketch {
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.execution-testing-box {
  background-color: #04ADBF;
  height: 100%;
  font-family: 'Manrope', sans-serif;
  color: white;
}

#execution-paragraph {
  margin-top: 15px;
}

.execution-button {
  background-color: #F2B705;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  border-radius: 6px;
}

#execution-paragraph-two {
  font-family: 'Manrope', sans-serif;
  font-size: 12pt;
  text-align: left;
  color: #0f2d56;
}

.execution-button-two {
  background-color: #F2B705;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  border-radius: 6px;
}

#upgrade1 {
  width: 30%;
}

#conclusion {
  font-family: 'Manrope', sans-serif;
  font-size: 37px;
  text-align: center;
  margin-bottom: 10px;
  color: #0f2d56;
}

#conclusion-bullets li {
  font-size: 12pt;
  font-family: 'Manrope', sans-serif;
  list-style-type: disc;
  color: #0f2d56;
}

#conclusion-bullets li {
  line-height: 1.25rem;
  margin-bottom: 10px;
  color: #0f2d56;
}

.conclusion-box p,li {
  text-align: left;
}

body section {
  /* width: 90%; */
  text-align: center;
  margin: auto;
}

body p {
  line-height: 1.5rem;
}

#footer {
  width: 100%;
  height: 150px;
  background-color: #FFFFFF;
  width: 100%;
  text-align: center;
  padding-top: 120px;
}

#footer-contents {
  text-align: center;
  width: 100%;
  margin-right: 20px;
}

#cc {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-size: 20px;
  color: #04ADBF;
  margin-right: 5px;
  font-weight: bold;
  padding-top: 30px;
  text-align:center;
  font-variant: small-caps;
}

.made-by {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer img {
  margin: 10px;
}

/* MEDIA QUERIES */

/* SMALLER IPHONES */
@media only screen and (max-width: 375px) {
  .topnav a {
    font-size: 15px;
  }

  #logo {
    width: 50px;
    height: 80px;
    padding: 20px 0 20px 20px;
  }

  #self-portrait {
    width: 100%;
  }

}

/* TABLETS */
@media only screen and (min-width: 450px ) and (max-width: 1200px) {

  body section {
    /* width: 80%; */
  }

  #logo {
    width: 50px;
    height: 80px;
    padding: 20px 0 20px 20px;
  }

  #self-portrait {
    width: 600px;
  }

  .subtitle {
    padding-top: 50px;
  }

  .flex-container {
    flex-direction: column;
  }

  #lisa {
    padding: 120px 26px 30px 90px;
    margin-bottom: 30px;
  }

  #designer {
    padding-left: 90px;
    padding-bottom: 30px;
  }

  #tagline {
    padding-left: 90px;
    padding-right: 70px;
  }

  #skyline {
    max-width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #preview-container {
    width: auto;
  }

  .topnav a {
    font-size: 19px;
    padding: 14px 10px;
  }

  .container {
    justify-content: space-between;
  }

  #self-portrait {
    float: none;
  }

  #footer {
    padding-top: 90px;
  }

}

/* DESKTOP */
@media only screen and (min-width: 1200px) {
  body section {
    /* width: 45%; */
  }

  #lisa {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 58px;
    color: #0f2d56;
    padding: 50px 26px 30px 120px;
    font-variant: small-caps;
    text-align:left;
    margin-bottom: 30px;
  }

  #designer {
    font-family: 'Manrope', sans-serif;
    font-size: 30px;
    color: #0f2d56;
    padding-left: 120px;
    padding-bottom: 30px;
  }

  .border-line {
    height: 13px;
    border-radius: 5px;
    background-color: #04ADBF;
    vertical-align: baseline;
  }

  .flex-container .subtitle {
    padding-top: 0px;
  }

  .flex-container .heading-container {
    padding-top: 0px;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .flex-container > div {
    width: 30%;
  }

  #tagline {
    text-align: left;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    line-height: 155%;
    color: #0f2d56;
    padding-left: 120px;
  }

  #project-name {
    font-size: 50px;
    padding-top: 100px;
  }

  .full-width-banner {
    min-height: 80px;
    width: 100%;
  }

  .wrapper h4 {
    font-size: 27pt;
    padding-top: 20px;
  }

  .problem-solution {
    width: 42.5%;
  }

  .problem-solution p {
    color: white;
  }

  .problem-solution-container {
    flex-direction: row;
    padding-top: 100px;
  }

  .container {
    height: 350px;
    flex-direction: row;
  }

  .box {
    margin: 5px;
    font-size: 16pt;
  }

  .summary-right-side {
    width: 45%;
  }

  #preview-container {
    width: 45%;
    float: left;
  }


  .main {
    /* margin: 0 90px; */
  }

  #biography {
    font-family: 'Manrope', sans-serif;
    font-size: 48px;
    text-align: left;
    color: #0f2d56;
    font-variant: small-caps;
    font-style: normal;
    font-weight: bold;
    padding-top: 180px;
    padding-bottom: 40px;
  }

  #self-portrait {
    object-fit: contain;
    margin: 0 2em 1em 0;
    width: 70%;
  }

  .subtitle {
    font-family: 'Manrope', sans-serif;
    text-align: left;
    color: #0f2d56;
    font-variant: small-caps;
    font-style: normal;
    font-weight: bold;
    /* padding-top: 50px; */

  }

  .project-images:hover .overlay {
    vertical-align: center;
    opacity: 1;
    height: 273px;
    transform: translate(0, -101%);
  }

  .project-images:hover #cloudservice {
    padding-top: 45px;
  }

  .project-images:hover #bookapp {
    padding-top: 33px;
  }

  .overlay {
    opacity: 0;
    padding: 0;
    margin-bottom: 0;
  }

  .overlay li {
    padding-top: 0;
  }

  footer img {
    margin: 15px;
  }

  footer h3 {
    margin-right: 20px;
  }

  #footer-contents {
    margin-right: 30px;
  }

  .projects p {
    margin: 20px;
    font-size: 18px;
  }

  .project-images img {
    height: 100%;
  }

  .project-images {
    width: 45%;
    max-height: 266px;
  }

  .projects {
    flex-direction: row;
  }

  nav {
    display: flex;
  }

  li {
    padding-top: 20px;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20px;
  }

  nav a {
    color: #04ADBF;
  }

  nav li, a:visited {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-size: 20px;
    align-items: center;
    margin: 30px;
    padding-bottom: 16px;
  }

  nav li:hover {
    border-bottom: 2px solid #F2B705;
  }

  #logo {
    width: 60px;
    padding: 30px 0 30px 40px;
    height: 90px;
  }

  .top-bar {
    height: 100px;
  }

  .topnav {
    display: none;
  }

  #skyline {
  max-width: 650px;
  }

  .middle {
    height: 450px;
    padding-top: 120px;
    display: flex;
    justify-content: flex-start;
    padding-right: 68px;
  }

  .middle .subtitle-container {
    padding-left: 120px;
    margin-bottom: 30px;
  }

  #petal-project-img {
    display: inline;
  }

  #vivrelivre {
    display: inline;
  }

  #first {
    max-width: 1000px;
  }

  .full-width-banner p {
    width: 45%;
    margin: auto;
  }

  #user-flow-image {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
