body {

  margin: auto;
}

li {
  list-style-type: none;
}

.top-bar {
  width: 100%;
  height: 85px;
  background: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

.middle {
  height: 220px;
}

#logo {
  width: 50px;
  height: 80px;
  padding: 20px 0 20px 20px;
}

.topnav {
  overflow: hidden;
  background-color: #FFFFFF;
  position: relative;
  font-family: 'Manrope', sans-serif;
}

.topnav #navLinks {
  display: none;
  margin-right: 5px;
}

.topnav a {
  float: left;
  color: #04ADBF;
  padding: 14px 5px;
  text-decoration: none;
  font-size: 18px;
  line-height: 26pt;
}

.topnav a.icon {
  float: right;
  font-size: 26pt;
  margin-right: 8px;
}

.topnav a.icon:visted {
  color: white;
}

.topnav a:hover {
  background-color: #FFFFFF;
  color: #F2B705;
}

.active {
  background-color: #4CAF50;
  color: #F2B705;
}

nav {
  display: none;
}

a {
  text-decoration: none;
  color: white;
}

#lisa {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 58px;
  color: #0f2d56;
  padding: 50px 26px 30px 120px;
  font-variant: small-caps;
  text-align:left;
}

#designer {
  font-family: 'Manrope', sans-serif;
  font-size: 30px;
  color: #0f2d56;
  padding-left: 120px;
  padding-bottom: 30px;
}

.border-line {
  height: 13px;
  width: 39%;
  border-radius: 5px;
  background-color: #04ADBF;
  vertical-align: baseline;
}

#tagline {
  text-align: left;
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  line-height: 155%;
  color: #0f2d56;
  padding-left: 120px;
}

.recent-work {
  text-align: center;
  font-size: 24px;
  background: #04ADBF;
  padding: 40px 0;
  font-family: 'Manrope', sans-serif;
}

#recent-work-header {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  color: #04ADBF;
  padding-top: 120px;
  font-variant: small-caps;
}

.projects {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.project-images {
  max-width: 470px;
  width: 90%;
  max-height: 220px;
  /* box-shadow: 0px 0px 30px 10px rgb(102,102,102,0.78); */
}

.project-images-two {
  max-width: 470px;
  width: 90%;
  max-height: 220px;
  /* box-shadow: 0px 0px 30px 10px rgb(102,102,102,0.78); */
}

#petal-project-img {
  display: none;
}

#vivrelivre {
  display: none;
}

.project-images img {
  width: 100%;
}

#cloudservice {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  color: #04ADBF;
}

.projects p {
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  line-height: 130%;
  text-align: center;
  color: #04ADBF;
  margin: 10px;
}

.overlay {
  opacity: 1;
  background-color: white;
  height: 100%;
  vertical-align: center;
  opacity: 1;
  padding: 10px;
  margin-bottom: 20px;
}

.overlay li {
  background-color: #F2B705;
  border-radius: 10px;
  width: 190px;
  margin: auto;
  font-size: 18px;
  font-family: 'Manrope', sans-serif;
  text-align: center;
}

.overlay a {
  display: inline-block;
  height: 20px;
  width: 100%;
  padding: 20px 0;
}

#bookapp {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  color: #04ADBF;
}

/* about css code  */

#biography {
  font-family: 'Manrope', sans-serif;
  font-size: 35px;
  text-align: center;
  padding: 35px 70px;
  color: #0f2d56;
}

#first {
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  line-height: 1.75em;
  text-align: left;
  color: #0f2d56;
}

#strong {
  font-weight: bold;
  font-size: 20px;
}

.main {
  margin: 0 35px;
}

#photo-container {
  position: relative;
  max-height: 650px;
  object-fit: contain;
  float: left;
  margin-bottom: 5px;
}

#self-portrait {
  max-height: 650px;
  width: 100%;
  object-fit: contain;
  opacity: 1;
}

#photo-container:hover #self-portrait-overlay {
  opacity: 1;
}

#self-portrait-overlay {
  opacity: 0;
  top: 0;
  left: 0;
  position: absolute;
  max-height: 650px;
  object-fit: contain;
  width: 100%;
}

.story {
  padding: 50px;
  padding-top: 0;
}

.hero-introduction {
  width: 100%;
}


/* contact page css code  */

#name {
  font-family: 'Manrope', sans-serif;
  font-size: 35px;
  text-align: center;
  padding: 120px 0 30px 0;
  color: #0f2d56;
}

#available {
  font-family: 'Manrope', sans-serif;
  font-size: 17px;
  text-align: center;
  padding-bottom: 60px;
  color: #0f2d56;
}

.form-container {
  background-color: #04ADBF;
  height: 325px;
  width: auto;
  text-align: center;
  margin: auto;
}

input::placeholder, textarea::placeholder {
  font-family: 'Manrope', sans-serif;
  font-size: 10pt;
  text-align: center;
  color: #0f2d56;
}

.form-container input {
  width: 100%;
  height: 30px;
  margin: 10px auto;
  border: 1px solid #cccccc;
  font-family: 'Manrope', sans-serif;
}

.form-container textarea {
  width: 100%;
  height: 115px;
  margin: 0 auto;
  border: 1px solid #cccccc;
}

.form-contents {
  padding: 20px;
  max-width: 260px;
  margin: auto;
}

input, textarea {
  display: block;
  font-family: 'Manrope', sans-serif;
  border-radius: 4px;
}

input[type=submit] {
  background-color: #F2B705;
}

/* project code css  */

#preview {
  width: 100%;
  height: 100%;
  max-width:500px;
  max-height:350px;
}

#vlpreview {
  width: 100%;
  height: 100%;
  max-width:370px;
  max-height:448px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#preview-container {
  width: 95%;
}

#project-name {
  font-family: 'Manrope', sans-serif;
  font-size: 32px;
  font-weight: bold;
  margin: 20px 0;
  color: #0f2d56;
}

#web-button {
  background-color: #F2B705;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  border-radius: 6px;
  display: inline;
}

#mobile-button {
  background-color: #F2B705;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  border-radius: 6px;
  display: inline;
}

.summary-right-side {
  float: right;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

.project-summary {
  display: flex;
  flex-direction: column;

}

.roles {
  justify-content: center;
  display: flex;
  align-items: center;
  align-content: center;
  width: 100%;
}

.box {
  background-color: #04ADBF;
  height: 60px;
  max-width: 110px;
  width: 18%;
  margin: 2px;
  margin-top: 20px;
  color: white;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 3px;
  justify-content: center;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container {
  display: flex;
  width: 100%;
  padding: 20px 0px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.problem-solution-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.problem-solution {
  background-color: #04ADBF;
  font-family: 'Manrope', sans-serif;
  font-size: 12pt;
  color: white;
  padding: 35px;
  line-height: 1.25rem;
  margin-bottom: 20px;
}

.problem-solution li {
  list-style-type: disc;
  margin-left: 20px;
  font-style: italic;
}

#problem, #solution  {
  font-size: 30pt;
  font-family: 'Manrope', sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.wrapper h4 {
  font-size: 24pt;
  font-family: 'Manrope', sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #0f2d56;
}

section li {
  margin-left: 20px;
}

section ul {
  margin-top: 5px;
}

#research {
  font-family: 'Manrope', sans-serif;
  font-size: 37px;
  margin: 35px;
  text-align: center;
  color: #0f2d56;
}

#research-paragraph {
  font-size: 12pt;
  font-family: 'Manrope', sans-serif;
  text-align: left;
  color: #0f2d56;
}

#research-paragraph-two {
  font-size: 12pt;
  font-family: 'Manrope', sans-serif;
  text-align: left;
  color: #0f2d56;
}

#research-bullets li{
  font-size: 12pt;
  font-family: 'Manrope', sans-serif;
  list-style-type: disc;
  line-height: 1.25rem;
  text-align: left;
  color: #0f2d56;
}

#competitive-analysis {
  font-family: 'Manrope', sans-serif;
  font-size: 37px;
  margin: 35px;
  color: #0f2d56;
}

#competitive-paragraph {
  font-family: 'Manrope', sans-serif;
  font-size: 12pt;
  text-align: left;
  color: #0f2d56;
}

#competitive-paragraph-two {
  font-family: 'Manrope', sans-serif;
  font-size: 12pt;
  text-align: left;
  color: #0f2d56;
}

#competitor-logos {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}

#competitive-button {
  background-color: #F2B705;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  border-radius: 6px;
  margin: 40px auto;
  display: block;
}

#user-personas {
  font-family: 'Manrope', sans-serif;
  font-size: 37px;
  margin: 35px;
  color: #0f2d56;
}

#user-personas-paragraph {
  font-family: 'Manrope', sans-serif;
  font-size: 12pt;
  text-align: left;
  color: #0f2d56;
}

.user-photos {
  display: flex;
  justify-content: space-between;
}

.user-photos img {
  margin-top: 20px;
  width: 50%;
  margin-bottom: 20px;
}

.user-personas-button {
  background-color: #F2B705;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  border-radius: 6px;
  margin: 20px auto;
  display: block;
}

#user-stories {
  font-family: 'Manrope', sans-serif;
  font-size: 37px;
  margin: 35px;
  display: block;
  color: #0f2d56;
}

#user-stories-paragraph {
  font-family: 'Manrope', sans-serif;
  font-size: 12pt;
  text-align: left;
  color: #0f2d56;
}

#user-table {
  margin-top: 20px;
  text-align: left;
}

#user-table tr, #user-table th, #user-table td {
  border: 1px solid black;
  font-family: 'Manrope', sans-serif;
  font-size: 12pt;
  padding: 10px;
  vertical-align: middle;
  color: #0f2d56;
}

#user-table th {
  background: #04ADBF;
  color: white;
}

#user-table td:first-child {
  width: 25%
}

#table-role {
  font-weight: bold;
}

#table-task {
  font-weight: bold;
}

#table-importance {
  font-weight: bold;
}

#user-flow {
  font-family: 'Manrope', sans-serif;
  font-size: 37px;
  margin: 35px;
  color: #0f2d56;
}

#user-flow-paragraph {
  font-family: 'Manrope', sans-serif;
  font-size: 12pt;
  text-align: left;
  color: #0f2d56;
}

#user-flow-image {
  margin-top: 40px;
  width: 100%;
}

.full-width-banner {
  background-color: #04ADBF;
  height: 100%;
  font-family: 'Manrope', sans-serif;
  color: white;
  padding: 25px;
  width: 100%;
  margin: 25px 0;
  text-align: left;
  box-sizing: border-box;
}

.wireframes {
  display: flex;
  justify-content: space-between;
}

.wireframes img {
  max-height: 280px;
  margin-bottom: 20px;
  width: 50%;
}

#wf1 {
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

#wf2 {
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

#wf3 {
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

#implementing-early {
  font-family: 'Manrope', sans-serif;
  font-size: 37px;
  margin-bottom: 20px;
}

.implementing-early-paragraph {
  font-size: 12pt;
  font-family: 'Manrope', sans-serif;
  margin: 40px;
  text-align: left;
}

.implementing-early-paragraph-one {
  font-size: 12pt;
  font-family: 'Manrope', sans-serif;
  margin: 40px;
  text-align: left;
  color: #0f2d56;
}

.implementing-early-paragraph-two {
  font-size: 12pt;
  font-family: 'Manrope', sans-serif;
  margin: 40px;
  text-align: left;
  color: #0f2d56;
}

.implementing-early-paragraph-three {
  font-size: 12pt;
  font-family: 'Manrope', sans-serif;
  margin: 40px;
  text-align: left;
  color: #0f2d56;
}

.implementing-early-paragraph-four {
  font-size: 12pt;
  font-family: 'Manrope', sans-serif;
  margin: 40px;
  text-align: left;
  color: #0f2d56;
}

.implementing-early-paragraph-five {
  font-size: 12pt;
  font-family: 'Manrope', sans-serif;
  margin: 40px;
  text-align: left;
  color: #0f2d56;
}

.implementing-button {
  background-color: #F2B705;
  color: white;
  padding: 15px 32px;
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  border-radius: 6px;
  display: block;
  text-align: center;
  margin: 40px auto;
}

#mobile-wire {
  width: 85%;
}

#brand-dev {
  font-family: 'Manrope', sans-serif;
  font-size: 37px;
  padding-bottom: 25px;
}

#brand-dev-one {
  font-size: 12pt;
  font-family: 'Manrope', sans-serif;
  text-align: left;
}

#brand-dev-two {
  font-size: 12pt;
  font-family: 'Manrope', sans-serif;
  text-align: center;
  margin: 40px;
  text-align:left;
  color: #0f2d56;
}

#brand-dev-three {
  text-align: center;
  font-size: 12pt;
  font-family: 'Manrope', sans-serif;
  margin: 40px;
  text-align: left;
  color: #0f2d56;
}

#brand-dev-four {
  text-align: center;
  font-size: 12pt;
  font-family: 'Manrope', sans-serif;
  margin: 40px;
  text-align: left;
  color: #0f2d56;
}

.logosketch {
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.guides {
  width: 75%;
  margin: 15px 0;
}

.execution img {
  width: 85%;
  margin: 20px 0;
}

.execution-testing-box {
  background-color: #04ADBF;
  height: 100%;
  font-family: 'Manrope', sans-serif;
  color: white;
  padding: 25px;
}

.execution-button {
  display: block;
  margin: 40px 0;
}

#new-hifi-mobile {
  display: block;
  margin: auto;
  margin-bottom: 15px;
  width: 32%;
}

#final-hifi-mobile {
  width: 100%;
  display: flex;
  margin: auto;
  margin-bottom: 15px;
}

#final-hifi-mobile img {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#execution-testing {
  font-family: 'Manrope', sans-serif;
  font-size: 37px;
}

#execution-paragraph {
  font-family: 'Manrope', sans-serif;
  font-size: 12pt;
  text-align: left;
  margin-top: 15px;

}

#execution-paragraph-one {
  font-family: 'Manrope', sans-serif;
  font-size: 12pt;
  text-align: left;
  color: #0f2d56;
}

.execution-button {
  background-color: #F2B705;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  border-radius: 6px;
}

#execution-paragraph-two {
  font-family: 'Manrope', sans-serif;
  font-size: 12pt;
  text-align: left;
  color: #0f2d56;
}

#execution-paragraph-three {
  font-family: 'Manrope', sans-serif;
  font-size: 12pt;
  text-align: left;
  color: #0f2d56;
}

.execution-button-two {
  background-color: #F2B705;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  border-radius: 6px;
}

#execution-paragraph-four {
  font-family: 'Manrope', sans-serif;
  font-size: 12pt;
  text-align: left;
  color: #0f2d56;
}

#execution-paragraph-five {
  font-family: 'Manrope', sans-serif;
  font-size: 12pt;
  text-align: left;
  color: #0f2d56;
}

#upgrade1 {
  width: 30%;
}

#conclusion {
  font-family: 'Manrope', sans-serif;
  font-size: 37px;
  text-align: center;
  margin: 35px;
  color: #0f2d56;
}

#conclusion-paragraph {
  font-family: 'Manrope', sans-serif;
  font-size: 12pt;
  color: #0f2d56;
}

#conclusion-paragraph-one {
  font-family: 'Manrope', sans-serif;
  font-size: 12pt;
  color: #0f2d56;
}

#conclusion-bullets li {
  font-size: 12pt;
  font-family: 'Manrope', sans-serif;
  list-style-type: disc;
  color: #0f2d56;
}

#conclusion-bullets li {
  line-height: 1.25rem;
  margin-bottom: 10px;
  color: #0f2d56;
}

.conclusion-box p,li {
  text-align: left;
}

body section {
  width: 90%;
  text-align: center;
  margin: auto;
}

body h4 {
  text-align: center;
  font-size: 19px;
}

body p {
  line-height: 1.5rem;
}

#footer {
  width: 100%;
  height: 150px;
  background-color: #FFFFFF;
  width: 100%;
  text-align: center;
  padding-top: 120px;
}

#footer-contents {
  text-align: center;
  width: 100%;
  margin-right: 20px;
}

#cc {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-size: 20px;
  color: #04ADBF;
  margin-right: 5px;
  font-weight: bold;
  padding-top: 30px;
  text-align:center;
}

.made-by {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer img {
  margin: 10px;
}

/* MEDIA QUERIES */

/* SMALLER IPHONES */
@media only screen and (max-width: 375px) {
  .topnav a {
    font-size: 15px;
  }

  #recent-work-header {
    padding-top: 180px;
    padding-bottom: 30px;
  }
}

/* TABLETS */
@media only screen and (min-width: 450px ) and (max-width: 1200px) {

  body section {
    width: 80%;
  }


  #preview-container {
    width: auto;
  }

  .topnav a {
    font-size: 19px;
    padding: 14px 10px;
  }

  #recent-work-header {
    padding-top: 120px;
    padding-bottom: 30px;
  }

  .container {
    justify-content: space-between;
  }

  #photo-container {
    float: none;
  }

}

/* DESKTOP */
@media only screen and (min-width: 1200px) {
  body section {
    width: 45%;
  }

  #project-name {
    font-size: 50px;
  }

  .brand-dev {
    min-height: 120px;
  }

  .full-width-banner {
    min-height: 80px;
    width: 100%;
  }

  .wrapper h4 {
    font-size: 30pt;
  }

  .problem-solution {
    width: 44.5%;
  }

  .problem-solution-container {
    flex-direction: row;
  }

  .container {
    height: 350px;
    flex-direction: row;
  }

  .box {
    margin: 5px;
    font-size: 16pt;
  }

  .summary-right-side {
    width: 45%;
  }

  #preview-container {
    width: 45%;
    float: left;
  }

  #photo-container {
    margin: 0 2em 1em 0;
  }

  .main {
    margin: 0 75px;
  }

  #biography {
    padding-top: 120px;
    padding-bottom: 75px;
  }

  .project-images:hover .overlay {
    vertical-align: center;
    opacity: 1;
    height: 272px;
    transform: translate(0, -101%);
  }

  .project-images:hover #cloudservice {
    padding-top: 45px;
  }

  .project-images:hover #bookapp {
    padding-top: 33px;
  }

  .overlay {
    opacity: 0;
    padding: 0;
    margin-bottom: 0;
  }

  .overlay li {
    padding-top: 0;
  }

  footer img {
    margin: 15px;
  }

  footer h3 {
    margin-right: 20px;
  }

  #footer-contents {
    margin-right: 30px;
  }

  .projects p {
    margin: 20px;
    font-size: 18px;
  }

  .project-images img {
    height: 100%;
  }

  .project-images {
    width: 45%;
    max-height: 266px;
  }

  .projects {
    flex-direction: row;
  }

  .recent-work {
    padding: 120px 0;
  }

  #recent-work-header {
    margin-bottom: 40px;
  }

  #tagline {
    font-size: 20px;
  }

  nav {
    display: flex;
  }

  li {
    padding-top: 20px;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20px;
  }

  nav a {
    color: #04ADBF;
  }

  nav li, a:visited {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-size: 20px;
    align-items: center;
    margin: 30px;
    padding-bottom: 16px;
  }

  nav li:hover {
    border-bottom: 2px solid #F2B705;
  }

  #logo {
    width: 60px;
    padding: 30px 0 30px 30px;
    height: 90px;
  }

  .top-bar {
    height: 100px;
  }

  .topnav {
    display: none;
  }

  #skyline {
  max-width: 650px;
  }

  .middle {
    height: 450px;
    padding-top: 120px;
    display: flex;
    justify-content: flex-start;
    padding-right: 68px;
  }

  #petal-project-img {
    display: inline;
  }

  #vivrelivre {
    display: inline;
  }

  #first {
    max-width: 1000px;
  }

  .full-width-banner p {
    width: 45%;
    margin: auto;
  }

  #user-flow-image {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
