/* TABLETS */
@media only screen and (min-width: 450px ) and (max-width: 1200px) {

  #skyline {
    display: none;
  }

  #biography {
    padding-top: 130px;
  }

  #skyline-mobile {
    display: inherit;
  }

  .middle .subtitle-container {
    margin: auto;
    padding: 0;
  }

  #logo {
    width: 50px;
    height: 80px;
    padding: 20px 0 20px 20px;
    box-sizing: content-box;
  }

  #self-portrait {
    width: 100%;
    float: none;
    margin: 0;
  }

  .middle .subtitle {
    padding-top: 50px;
  }

  .flex-container {
    flex-direction: column;
  }

  .flex-container > div {
    width: 100%;
  }

  #lisa {
    margin-bottom: 30px;
    padding: 0;
    text-align: center;
  }

  #designer {
    padding-left: 90px;
    padding-bottom: 30px;
  }

  #tagline {
    text-align: center;
    padding: 50px;
    margin: auto;
  }

  #skyline {
    display: none;
  }

  #skyline-mobile {
    max-width: 650px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .preview-container {
    width: auto;
  }

  .topnav a {
    font-size: 19px;
    padding: 14px 10px;
  }

  .container {
    justify-content: space-between;
    flex-direction: column;
  }

  #project-name {
    padding-top: 40px;
  }

  .projects {
    flex-direction: column;
  }

  .project-images {
    height: 250px;
  }

  .project-images img {
    display: none;
  }

  .overlay {
    opacity: 1;
  }

  #footer {
    padding-top: 90px;
  }

  .heading-container {
    margin-top: 50px;
    padding: 0;
  }

  #contact-form {
    flex-direction: column;
    padding: 10px 100px;
  }

  .header {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 58px;
    color: #0f2d56;
    padding: 50px 26px 30px;
    font-variant: small-caps;
    text-align: center;
    margin-bottom: 30px;
  }

  .hero-introduction .header {
    padding-top: 180px;
    padding-bottom: 40px;
    padding-left: 0;
  }

  #available {
    font-family: 'Manrope', sans-serif;
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
    color: #0f2d56;
    margin-top: 60px;
    width: 100%;
  }

  .box {
    font-size: 0.75em;
  }

  #solution {
    margin-bottom: 20px;
  }

  .wireframes {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  img.vlpreview {
    box-sizing: content-box;
  }

  .modal-backdrop {
    width: 100% !important;
    height: 100% !important;
  }
  
  img.full-width {
    width: 100%;
    max-width: 100%;
  }

}
